@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #efefef;
  color: #1f1f1f;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

.button:hover {
  scale: 120%;
}
.modal-form {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222221;
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 16px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-form.show {
  opacity: 1;
}

.hidden {
  display: none;
}

.u-l-header.is-open .u-l-header-background {
  left: 0;
}
.u-l-header-button-wrapper {
  margin-left: auto;
}
.u-l-header-icon {
  display: none;
}

.u-l-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.u-l-navigation-list.is-open {
  right: 0;
}
.u-l-header-icon-menu {
  display: block;
}

.u-l-header-icon-button.is-open .u-l-header-icon-menu {
  display: none;
}

.u-l-header-icon-button.is-open .u-l-header-icon-close {
  display: block;
}

.u-l-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 60px;
  background: #efefef;
}

.u-l-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #efefef;
}
.u-l-header.is-open .u-l-header-background {
  left: 0;
}
.u-l-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.u-l-header-icon-menu {
  display: block;
}

.u-l-header-icon-button.is-open .u-l-header-icon-menu {
  display: none;
}

.u-l-header-icon-button.is-open .u-l-header-icon-close {
  display: block;
}

.u-l-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 16px;
  position: relative;
}

.u-l-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 24px;

  gap: 24px;
  background: #efefef;
}

.u-l-navigation-list.is-open {
  right: 0;
}

.u-l-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-family: Nunito Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.u-l-navigation-link:hover,
.u-l-navigation-link:focus {
  transform: scale(1.05);
  font-weight: 700;
}

.u-l-header.is-open {
  background-color: transparent;
}

.u-l-navigation-item-two {
  width: 337px;
  background: #e0304c;
  display: block;
  text-align: center;
  border-radius: 50px;
  padding: 20px;
  font-family: Nunito Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #efefef;
}
.u-l-navigation-item-t {
  border: 1px solid #e0304c;
  background-color: transparent;
  color: #e0304c;
  margin-top: -16px;
}
.u-l-navigation-img {
  display: none;
}
@media screen and (min-width: 1206px) {
  .u-l-navigation-item-two {
    display: none;
  }
  .u-l-header-icon-title {
    display: none;
  }
  .u-l-navigation-img {
    display: flex;
    width: 225px;

    border-radius: 50px;
    border-width: 1px;
    margin: 0;

    margin-left: 380px;
  }
  .u-l-header-button-wrapper {
    display: none;
  }
  .u-l-header {
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .u-l-header-background {
  }
  .u-l-header-icon-button {
    display: none;
  }
  .u-l-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .u-l-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 40px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100px;
    padding: 0;
  }

  .u-l-navigation-link {
    text-decoration: none;
    font-family: Nunito Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .u-l-navigation-item-desk {
    display: none;
  }
}
.u-l-home {
  width: 375px;
  height: 993px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Home.png");
  margin: auto;
}
.u-l-home-container {
  width: 375px;
  padding: 100px 16px 0px;
  margin: auto;
}

.u-l-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.u-l-home-title {
  font-family: Nunito Sans;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 80px;
  leading-trim: NONE;
  line-height: 90%;
  letter-spacing: 0%;
  text-align: center;
}

.u-l-home-text {
  font-family: Nunito Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  padding: 256px 0 16px;
  color: #000000;
}
.u-l-home-text-two {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
}

.u-l-home-link {
  color: #efefef;
  font-family: Nunito Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding: 20px 24px;
  border-radius: 50px;
  background: #ff4e6b;
  display: block;
  margin-top: 32px;
  transition: all 0.3s ease-in-out;
}

.u-l-home-link:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 1206px) {
  .u-l-home {
    width: 1440px;
    height: 1049px;
    background-image: url("/img/home/Home\ \(1\).png");
  }
  .u-l-home-container {
    width: 1440px;
    padding: 144px 0px 0px;
  }
  .u-l-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .u-l-home-title {
    font-family: Nunito Sans;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 80px;
    leading-trim: NONE;
    line-height: 90%;
    letter-spacing: 0%;
  }

  .u-l-home-text {
    font-family: Nunito Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    width: 502px;
    padding: 508px 0 16px;
    color: #000000;
  }
  .u-l-home-text-two {
    width: 502px;
  }
}

.u-l-about-container {
  width: 375px;
  padding: 100px 16px;
  margin: auto;
}
.u-l-about-title {
  border: 1px solid #1f1f1f;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  width: fit-content;
  padding: 5px 17px;
  border-width: 1px;

  border-radius: 20px;
}
.u-l-about-title-two {
  padding: 24px 0 8px;
  font-family: Nunito Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 42px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.u-l-about-title-three {
  font-family: Nunito Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #747474;
}
.u-l-about-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 48px;
}
.u-l-about-item {
  border: 1px solid #9c9c9c;
  width: 343px;
  height: 154px;
  border-radius: 20px;
  border-width: 1px;
  padding: 23px;
}
.u-l-about-text {
  font-family: Nunito Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: capitalize;
  height: 52px;
}

.u-l-about-text-bold {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
  padding-top: 8px;
  color: #747474;
}

@media screen and (min-width: 1206px) {
  .u-l-about-container {
    width: 1440px;
    padding: 100px 20px;
  }

  .u-l-about-title-two {
    font-family: Nunito Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
  }

  .u-l-about-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    padding-top: 80px;
    padding-left: 473px;
  }
  .u-l-about-item {
    width: 298.3333435058594px;
    height: 177px;
    border-radius: 20px;
    border-width: 1px;
    padding: 23px;
  }
}
.u-l-why {
  background: #1f1f1f;
}

.u-l-why-container {
  width: 375px;
  background: #1f1f1f;
  color: #efefef;

  margin: auto;
  padding: 100px 16px;
}
.u-l-why-list {
  padding-top: 48px;
}
.u-l-why-lists {
  display: none;
}
.u-l-why-item {
  border: 1px solid #747474;
  width: 322px;
  height: 215px;
  border-radius: 20px;
  padding: 23px;
  margin: 0 4px;
}
.u-l-why-img {
  width: 30px;
}
.u-l-why-text-bold {
  font-family: Nunito Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: capitalize;
  height: 52px;
  margin: 8px 0;
}
.u-l-why-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
  color: #9c9c9c;
}

@media screen and (min-width: 1206px) {
  .u-l-why-container {
    width: 1440px;
    padding: 100px 20px;
  }
  .u-l-why-list {
    display: none;
  }
  .u-l-why-lists {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    gap: 16px;
  }
  .u-l-why-item {
    width: 456px;
    height: 192px;

    border-radius: 20px;

    margin: 0 0px;
  }
  .u-l-why-img {
    width: 30px;
  }
}

.u-l-uniqueness {
  background: #1f1f1f;
}
.u-l-uniqueness-container {
  margin: auto;
  background: #1f1f1f;
  color: #efefef;

  width: 375px;
  padding: 100px 16px;
}
.u-l-uniqueness-list {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.u-l-uniqueness-item {
  padding: 23px 15px;
  border-radius: 8px;
  border: 1px solid #747474;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.u-l-uniqueness-text-bold {
  font-family: Nunito Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 64px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.u-l-uniqueness-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
  color: #9c9c9c;
}

@media screen and (min-width: 1206px) {
  .u-l-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 100px 20px;
  }
  .u-l-uniqueness-list {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    padding-left: 473px;
    gap: 8px;
  }
  .u-l-uniqueness-item {
    flex-direction: row;

    gap: 24px;
    align-items: center;
    border-radius: 8px;
    border-width: 1px;
  }

  .u-l-uniqueness-text-bold {
    width: 268px;
  }
}

.u-l-how-container {
  margin: auto;
  width: 375px;
  padding: 100px 16px;
}
.u-l-how-list {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.u-l-how-item {
  border: 1px solid #9c9c9c;

  justify-content: space-between;
  padding: 15px 23px;
  display: flex;
  border-radius: 20px;
}

.u-l-how-text-bold {
  font-family: Nunito Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #000000;
}

.u-l-how-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
  color: #747474;
  padding-top: 8px;
}
.u-l-how-number {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
  color: #e0304c;
}
@media screen and (min-width: 1206px) {
  .u-l-how-container {
    margin: auto;
    width: 1440px;
    padding: 100px 20px;
  }
  .u-l-how-list {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 437px;
  }
}

.u-l-characters-container {
  padding: 100px 16px;
  margin: auto;
  width: 375px;
}
.u-l-characters-list {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  gap: 16px;
}
.u-l-characters-item {
  width: 343px;
}
.u-l-characters-img {
  object-fit: cover;
  object-position: center;
  width: 343px;
  height: 399.75px;
}

.u-l-characters-text {
  font-family: Nunito Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #002a34;
  padding-top: 16px;
}

@media screen and (min-width: 1206px) {
  .u-l-characters-container {
    padding: 100px 20px;
    margin: auto;
    width: 1440px;
  }
  .u-l-characters-list {
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    gap: 16px;
  }
  .u-l-characters-item {
    width: 338px;
  }
  .u-l-characters-img {
    object-fit: cover;
    object-position: center;
    width: 338px;
    height: 812px;
  }
}

.u-l-reviews {
  background: #1f1f1f;
}
.u-l-reviews-container {
  margin: auto;
  color: #efefef;
  background: #1f1f1f;

  padding: 100px 16px;
  width: 375px;
}
.u-l-reviews-list {
  padding-top: 48px;
}

.u-l-reviews-item {
  margin: 0 4px;
  border: 1px solid #747474;
  width: 322px;
  height: 263px;

  border-radius: 20px;

  padding: 15px;
}
.u-l-reviews-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
  height: 92px;
}
.u-l-reviews-img {
  width: 42px;
  margin: 35px 0 8px;
}
.u-l-reviews-text-bold {
  font-family: Nunito Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.u-l-reviews-item-top {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  color: #747474;
  padding-top: 8px;
}

@media screen and (min-width: 1206px) {
  .u-l-reviews-container {
    margin: auto;
    padding: 100px 20px;
    width: 1440px;
  }
  .u-l-reviews-list {
    padding-top: 80px;
  }

  .u-l-reviews-item {
    margin: 0 8px;
    border: 1px solid #747474;
    width: 456px;
    height: 263px;

    border-radius: 20px;
  }
  .u-l-reviews-text {
    height: 69px;
  }
  .u-l-reviews-img {
    width: 42px;
    margin: 58px 0 8px;
  }
}

.u-l-gallery-container {
  width: 375px;
  margin: auto;
  padding: 100px 16px;
}
.u-l-gallery-list {
  padding-top: 48px;
}

.u-l-gallery-item {
  width: 322px;
  height: 838px;

  margin: 0 4px;
}

.u-l-gallery-image {
  width: 322px;
  height: 743px;
  angle: 0 deg;
  opacity: 1;

  object-fit: cover;
  object-position: center;
}
.u-l-gallery-text {
  font-family: Nunito Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #002a34;
  margin: 16px 0 4px;
}
.u-l-gallery-text-two {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
  color: #747474;
}
@media screen and (min-width: 1206px) {
  .u-l-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 100px 20px;
  }
  .u-l-gallery-list {
    padding-top: 80px;
  }

  .u-l-gallery-item {
    width: 648px;
    height: 838px;

    margin: 0 8px;
  }

  .u-l-gallery-image {
    width: 648px;
    height: 769px;
  }
}

.u-l-features-container {
  width: 375px;
  margin: auto;
  padding: 100px 16px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.u-l-features-div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.u-l-features-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
  color: #747474;
}

.u-l-features-div-two {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.u-l-features-div-item-text {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
}

.u-l-contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.u-l-contact-formspan {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
  padding-left: 16px;
}

.u-l-features-input {
  display: block;
  margin-top: 4px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;

  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  border: none;
  border-radius: 30px;
}
.u-l-features-input::placeholder {
  color: #747474;
}
.u-l-features-textarea {
  width: 343px;
  height: 147px;

  border-radius: 30px;
}
.u-l-features-button {
  border: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

@media screen and (min-width: 1206px) {
  .u-l-features-container {
    width: 1440px;
    margin: auto;
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  .u-l-features-div {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: end;
    justify-content: space-between;
  }
  .u-l-features-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 142%;
    letter-spacing: 0%;
    width: 690px;
  }

  .u-l-features-div-two {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .u-l-contact-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 690px;
  }
  .u-l-contact-formspan {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 142%;
    letter-spacing: 0%;
    padding-left: 16px;
  }

  .u-l-features-input {
    display: block;
    margin-top: 4px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 142%;
    letter-spacing: 0%;
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 30px;
  }

  .u-l-features-textarea {
    width: 100%;
    height: 147px;

    border-radius: 30px;
  }
  .u-l-features-button {
    border: none;
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

.u-l-container {
  padding: 76px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
}

.u-l-container h1 {
  font-family: Nunito Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 64px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;

  margin-bottom: 32px;
}

.u-l-container h2 {
  margin-top: 32px;
  font-family: Nunito Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.u-l-container h3 {
  margin-top: 32px;
  font-family: Nunito Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.u-l-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.u-l-container ul li {
  margin-bottom: 10px;
}
.u-l-container p {
  margin-top: 10px;
}
.u-l-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.u-l-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1206px) {
  .u-l-container {
    padding: 164px 20px 100px;
    width: 1440px;
    margin: auto;
  }

  .u-l-container h1 {
    font-family: Nunito Sans;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 80px;
    leading-trim: NONE;
    line-height: 90%;
    letter-spacing: 0%;
  }
}

.u-l-footer-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
  display: flex;
  flex-direction: column;
  background: #1f1f1f;

  gap: 60px;
  color: #efefef;
}
.u-l-footerq {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.u-l-footerqw {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.u-l-footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.u-l-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Nunito Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.u-l-footer-copyright {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  color: #747474;
}

@media screen and (min-width: 1206px) {
  .u-l-footer-container {
    width: 1440px;
    padding: 80px 20px 40px;

    gap: 60px;
  }
  .u-l-footerq {
    display: flex;
    flex-direction: row;
    gap: 740px;
    align-items: end;
  }
  .u-l-footerqw {
    display: flex;
    flex-direction: row;
    gap: 180px;
    align-items: end;
  }

  .u-l-footer-text {
    font-family: Nunito Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .u-l-footer-copyright {
  }
}

.u-l-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 24px 16px;
  background: #efefef;

  z-index: 1000;
  display: none;
}

.u-l-cookie-popup-text-two {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 142%;
  letter-spacing: 0%;
}

.u-l-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.u-l-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid #1f1f1f;
  width: 167.5px;

  padding: 15px 0;
  border-width: 1px;

  border-radius: 4px;
  font-family: Nunito Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

#accept-cookies {
  background: #1f1f1f;
  color: #efefef;
}

.u-l-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1206px) {
  .u-l-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 133px;
  }

  .u-l-cookie-popup-text-two {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 142%;
    letter-spacing: 0%;

    width: 837px;
  }

  .u-l-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .u-l-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 40px;
    display: none;
  }
}
